@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    transition: 0.5s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

header{
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: white;
    font-weight: 700;
    z-index: 100;
    position: sticky;
    top: 0;
    width: 100%;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
font-family: 'Montserrat', sans-serif;
flex-direction: column;
line-height: 24px;
font-weight: 800;
font-size:  30px;
margin-top:7px ;
text-transform: uppercase;
}

ul{
    display: flex;
}

li{
    list-style: none;
    margin-left: 60px;
    font-size: large;
    
    font-weight: 500;
    transition: 0.5s;
}

li:hover{
    cursor: pointer;
    color: #c19c03;
}

.top-name{
    display: flex;
}


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#d0dd20, #fbb040);
}

#avon{
    border-radius: 20px;
    margin: 40px;
    background: #df1a74;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 10px 2px black;
    width: 60%;

}

#avon-all{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

#button-avon{
    background: white;
    border-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-style:solid;
    color: #df1a74;
    width: 130px;
    height: 40px;
    font-size: medium;
    cursor: pointer;
    margin-right: 50px;
    margin-bottom: 5px;
}

#natura{
    border-radius: 20px;
    margin: 40px ;
    margin-top: 0;
    background:white;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 10px 2px black;
    width: 60%;
}

#natura-all{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 70px;
}

#button-natura{
    background: #f48120;
    border-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-style:solid;
    color: white;
    width: 130px;
    height: 40px;
    font-size: medium;
    margin-left: 0px;
    cursor: pointer;
}

#logo-natura{
    margin-left: 115px;

}


#valvit{
    border-radius: 20px;
    margin: 40px ;
    margin-top: 0;
    background:black;
    display: flex;
    justify-content: space-between;
    width: 60%;
    box-shadow: 0px 2px 10px 2px black;
}

#valvit-all{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    margin: 70px;
}

#button-valvit{
    background: #c19c03;
    border-color: black;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-style:solid;
    color: white;
    width: 130px;
    height: 40px;
    font-size: medium;
    margin-left: 0px;
    cursor: pointer;
}

#logo-valvit{
    margin-left: 60px;
    margin-top: 20px;

}

#contato{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;

}

#social-page{
    display: flex;
    align-items: center;
    background-color: black;
    padding: 25px;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 2px 2px 10px black;
}

#instagram-media{

    background-color: #df1a74;
    border: #df1a74;
    border-style: solid;
    margin-left: 20px;
    width: 110px;
    height: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;

}

#whatsapp-media{

    background-color: green;
    border: transparent;
    border-style: solid;
    margin-left: 20px;
    width: 110px;
    height: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;

}
#instagram-media:hover{
    border: white;
}

#whatsapp-media:hover{
    border: white;
}

a{
    text-decoration: none;
}

a:link{
    color: white;
}

a:visited{
    color: white;
}

a:hover{
    color: #c19c03;
}

#maded{
    bottom: 100%;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    
}

body::-webkit-scrollbar {
    width: 12px;              
    }

    body::-webkit-scrollbar-track {
    background: black;     
    }

    body::-webkit-scrollbar-thumb {
    background-color: #c19c03;   
    border-radius: 20px;       
    }

    #logo-avonn{
        padding: 0;
        border: 0;
        margin: 0;
    }

@media screen and (max-width: 660px){
    
    header{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }



    #avon{
        justify-content: center;
        flex-direction: column;
        height: 400px;
    }

    #natura{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 400px;
    }

    #valvit{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 400px;
    }

    #logo-natura{
        display: flex;
        margin-left:0;
    }

    #logo-valvit{
        margin-left: 0;
        width: 200px;
        height: 80px;
    }

    #logo-avonn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 190px;
        height: 120px;
        padding-left: 10%;
        padding-bottom: 80px;

    }

    #button-avon{
        margin-right: 0;
        border: 10px;
    }

    #button-natura{
        border: 10px;
        margin: 2px;
    }

    #contato{
        display: flex;
        flex-direction: column;
    }

    #social-page{
        margin-bottom: 40px;
    }

li{
    margin: 0;
    padding: 10px;
}

ul{
    display: flex;
    justify-content: space-around;
}

header{
height: 90px;
}
}